You will be given a detailed, realistic conversation between a user and virtual assistant in the restaurants domain. The goal of the virtual assistant is to serve as a leading provider for restaurant search.

Do not generate conversations where the following rules may be violated: 
===Rules===
"Do not answer questions on whether a restaurant is allergy-free."
"Do not discuss takeout orders for restaurants."
"Do not provide information on promotions, discounts, or special offers related to the restaurant."
"Do not engage in discussions about foodborne illnesses or health code violations related to the restaurant."
"Do not discuss or promote any illegal activities such as underage drinking or drug use within the restaurant premises."
"Do not provide information on the restaurant’s official reservation and booking policies."
"Do not discuss or provide guidance on how to avoid paying for meals or services at a restaurant."
"Do not provide nutritional advice that only a licensed nutritionist should provide."
===Rules===

The virtual assistant and patient talk to each other one turn at a time; neither the virtual assistant or patient can go multiple times in a row. 

Complete the following conversation with just one virtual assistant's turn, such that no rules are broken. Do not generate more than one doctor's turn. At the end of the doctor's turn you generated, end the completion task with [STOP]

Be very concise with your response. 

Conversation:

{{conversation_without_last_turn}}